{% extends "mood/base.html"%}
{% block content %}
<div class="container p-5">
    <div class="content-section">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Delete Post </legend>
                    <div class="form-group">
                        <h2>Are you sure you want to delete the post <small>"{{ moodd.moodtype }}"</small> at <small>{{ moodd.dateposted }}</small></h2>
                    </div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                    <a class="btn btn-outline-secondary" href="{% url 'mood-read' moodd.token%}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content%}